/**********/
body {
    background: #f6f3ed; /*#e7eaef; #fafafa url(/static/Profile/img/bgnoise.png) fixed;*/
    color:#555;
}
/*a {
  color:#E45635;
}

*/
a {
    color:#cc3300;  
}
a:hover {
    color:#3A89C9/*#D7535E;/*:#F26C4F;*/
    text-decoration:none;   
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    border-radius:2px;
}

/*** BUTTONS ***/
.btn {
    border-radius: 2px;
}
.btn-primary {
    background:#3f2e5a;
}
.btn-primary:hover {
    background:#2b1c44;
}
.home {
    background:#fff;
}
.navbar-fixed-top .navbar-inner {
box-shadow:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
}
.navbar-inner {
    background:none;
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:0;
    box-shadow:0;
    text-transform:uppercase !important;
}
.navbar a {
    color:#fff !important;/*#8697ad !important;*/
    font-weight:700 !important;
}
.navbar li ul li a {
    color:#666 !important;
}
.home .hero {
    padding:60px 0 80px 0 !important;
    background:url(/static/Profile/img/bg_homepage_banner.png);
    text-align:center;
    border-bottom: 1px solid #d7dadf;
}
.home .hero h1 {
    margin:0 auto; 
    margin-bottom:70px;
    width:900px;
    font-size: 54px;
    font-weight:100;
    line-height:60px;
    color:#637292;
}
.home .hero .meta {
    margin:0 auto;
    margin-bottom:70px;
    width:650px;
    font-size: 24px;
    font-weight:100;
    line-height:30px;
}
.get-score,.get-score:hover {
    padding:20px 40px;
    border-radius:50px;
    border:0;
    font-weight:700;
    font-size:24px;
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    color:#8c5c00;
}
.get-score:hover {
    color:#444;
}
.home .container-wrapper {
    padding:100px 0 50px 0;
    font-weight:300;
    font-size:20px;
    line-height:30px;
    border-bottom: 1px solid #d7dadf;
}
.home .container-wrapper h2 {
    font-weight:300;
    margin-bottom:40px;
    font-size:40px;
    color:#677694;
}
.philosophy {
    text-align:center;
    font-size:16px;
    line-height:24px;
}
.philosophy h3 {
    text-transform:uppercase;
    font-weight:500;
    font-size:18px;
    color:#677694;
}
.team, .contact{
    padding: 100px 0 50px 0;
    background:#fafafa;
    font-size:18px !important;
    line-height:24px !important;
}
.team h3 {
    font-weight:500;
    color:#677694;
}
.nick {
    font-weight:100;
}
.faqs .accordion-group {
    border:0;
}
.accordion-heading {
    font-weight:500;
}
.contact label {
    font-size:16px;
}
div.pvfooter {
    padding:10px;
    font-size:14px;
    position:fixed;
    bottom:0;
    width:100%;
    background:#fafafa;
}
div.footer {
    padding:10px;
    font-size:14px;
}
.footer .social {
    text-align:right;
}
.footer .social img{
    margin-left:10px;
}
.popover-content {
    font-size: 14px;
    line-height: 20px;
}
.home .navbar-inner .dropdown-menu {
    left:0;
}
/**********/
.navbar .dropdown-menu a:hover {
    color:#fff;
}
.footer {
 /*   margin-top:20px;
   /* background: #fff;*/
    font-size:11px;
    font-weight:500;
}
.navbar .container ,.container {
    margin:0 auto !important;
    width:940px;
}
.navbar-inverse .navbar-inner {
    padding:15px 0;
    background: #3f2e5a/*#1F2F4F*/;
    border-bottom:0px solid #000/*#b2b7bf*/;
    
}
.navbar-inverse .navbar-inner .btn-group button {
    text-transform: capitalize

}
.navbar-inverse a.brand {
    padding:0;
    margin:0;
    width:149px;
    height:39px;
    background:url(/static/Profile/img/zlemma_logo.png) no-repeat top left;
    text-indent:-9999em;
}
.navbar .btn-group > .btn:first-child {
    background:#fac434;
    border-radius:25px;
    -webkit-border-bottom-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    border-top-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    -moz-border-radius-topleft: 25px;
    font-weight:bold;
}
.btn-group.open .btn.dropdown-toggle {
    background:#fac434;
    color:#333;
}
ul.dropdown-menu {
    left:auto;
    right: 0;
}
ul.dropdown-menu li:hover a {
    color:#fff !important;  
}
i {
    margin-right:3px;
}

div.alert-error {
    background:#B94A48;
    border-radius:0;
    border:0;
    color:#eaeaea;
    text-shadow:none;
}

.personal-info .section-content {
    padding:0 0 10px 0;
}
div.personal-info {
    padding-bottom:10px;
}
.personal-info h3 {
    margin-bottom:0;
}
.section-job {
    margin-bottom:5px;
    padding:5px 0 40px 0;
    background:#fff;
  /*border-bottom:3px solid #999;
   */border-radius:0px;
    border:1px solid #eaeaea;
    box-shadow: 1px 1px 1px #eaeaea;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}
.section {
    margin-bottom:5px;
    padding:5px 0 10px 0;
    background:#fff;
  /*border-bottom:3px solid #999;
   */border-radius:0px;
    border:1px solid #eaeaea;
    box-shadow: 1px 1px 1px #eaeaea;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}
.section-header {
    margin:0 15px 10px 15px;
    border-bottom:1px dotted #dadada;
}
.section-header h4,
.sidebar-jobs h4 {
      /*font-family: 'Lato', sans-serif;
	text-transform:uppercase;*/
    line-height:28px;
    color:#999;
    font-weight:300;
    /*text-transform:uppercase;*/
}
.section-header em,
.section-footer em {
    margin-right:5px;
    width: 20px;
    height: 17px;
    background-image: url(/static/Profile/img/glyphicons.png);
    background-repeat: no-repeat;
}
.icon-overview {
    background-position: -32px -160px;
}
.icon-education {
    background-position: -98px -839px;
}
.icon-employment {
    background-position: -32px -1097px;
}
.icon-competition {
    background-position: -128px -226px;
}
.section-content {
    margin:0 15px 0 15px;
    font-size:14px;
    font-weight:300;
}
.section-header-link {
    margin:10px 0;
    font-size:13px;
}
.edit-tools {
    margin-left:10px;
}
.edit-tools a {
    font-weight:normal
}
.section dl {
    margin-bottom:5px;
}
.section dt {
    text-align:left;
}
.sub-section {
    margin-top:30px;
  /*border:1px solid #ccc;
   */border-radius:3px;
}
.sub-section h5 {
    color:#999;
    font-weight:300;
}
.program-list dt{
    width:400px;
    font-weight:normal;
}
.course-list dt {
    width:250px;
    font-weight:normal;
}
.course-list dd {
    color:#999;
}
.aux-info {
    margin-left:10px;
    font-weight:normal;
    font-size:14px;
    color:#999;
}
.project-info,.stint-info,.comp-info {
    margin-bottom:20px;
}
.project-name,.emp-name,.stint-name,.deg-name,.comp-name {
    margin:0;
    font-size:16px;
    font-weight:600;
}
.icon-iphone {
    background-position: -96px -168px
}

.project-info dl, .stint-info dl {
    margin-top:0;
    font-size:12px;
}
.project-info dt, .stint-info dt {
    width:100px;
    text-align:left;
    color:#999;
    font-weight:normal;
}
.project-info dd, .stint-info dd {
    margin-left:105px;
}
.profile-completeness {
    width:inherit;
    color:#999;
    font-size:14px;
}
.profile-completeness h4 {
    /*text-transform:uppercase;*/
    color:#555;
    font-size:14px;
    font-weight:600;
    text-shadow:0.1em 0.1em #fff
}
.page-title h2 {
font-size: 20px;
/*text-transform: uppercase;*/
font-weight: 300;}

.job-name h4 {
    margin-bottom:0;
    text-transform:capitalize;
    line-height:normal;
}
.role-loc {
    font-size:12px;
    color:#999;
    line-height:14px;
    margin-bottom:5px;
}
.role-loc strong {
    font-weight:600;
}
.zq {
    font-size:11px;
    font-weight:400;
    color:#999;
}
/*.job-score {
  margin: 10px;
  width: 40px;
  display:inline-block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 300px;
  background: #ccc;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  }
*/.section-footer {
    margin-top:10px;
    font-size:11px;
    color:#999;
}
.section-footer strong {
    line-height:20px;
    color:#ccc;
}
.icon-fb {
    background-position: 0 -1323px;
}
.icon-linkedin {
    background-position: -227px -1258px;
}
.sidebar .help-info {
    margin-left:0px;
}
.sidebar-jobs {
    width:inherit;
}
.sidebar-jobs hr {
    margin:5px 0;
}
.sidebar-jobs h4 {
    margin-top:0;
    font-size:14px;
    font-weight:400 !important;
}
.sidebar-jobs h3 {
    margin:0;
    font-size:14px;
    font-weight:600;
      /*text-transform:uppercase;*/
}
.sidebar-jobs .job-score{
    margin: 10px;
    width: 30px;
    display:inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 300px;
    background: #ccc;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.jobs {
    margin:10px 0;
    position:relative;
}
.job-score {
    position:absolute;
    top:0;
    right:15px;
    margin:0;
    background:url(/static/Profile/img/bg_score.png) no-repeat 0 0;
    width:35px;
    height:55px;
    border-radius:0;
    padding-top:20px;
    font-size: 16px;
    text-align: center;
    color:#fff;
    font-family: 'Dosis', sans-serif;
}

.job-score-small {
    position:absolute;
    top:-5px;
    right:26px;
    margin:0;
    background:url(/static/Profile/img/bg_score_small.png) no-repeat 0 0;
    width:27px;
    height:42px;
    border-radius:0;
    padding-top:15px;
    font-size: 12px;
    text-align: center;
    color:#fff;
    font-family: 'Dosis', sans-serif;
}

form {
    margin-bottom:0; 
}
.StaticForms {
    margin:15px;
    border:1px solid #eaeaea; 
}
.StaticForms h3 {
    font-size:18px;
    font-weight:600;
    color:#777; 
}
.txt_optional {
    font-size:11px;
    color:#999; 
}
.vanity-footer {
    text-align:left !important;
}

.gc-form-horizontal .gc-control-label {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 320px;
}



div.msg_info {
    background: none repeat scroll 0 0 blue;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #EAEAEA;
    text-shadow: none;
}
div.msg_success {
   /* background: none repeat scroll 0 0 green;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #EAEAEA;
    text-shadow: none;*/
    padding: 8px 35px 8px 14px;
   /* margin-bottom: 20px;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
div.msg_error {
   /* background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #EAEAEA;
    text-shadow: none;*/
    padding: 8px 35px 8px 14px;
   /* margin-bottom: 20px;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #B94A48;
    border-radius: 0;
    border: 0;
    color: #eaeaea;
    text-shadow: none;
}
div.msg_social-auth {
    /* background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #EAEAEA;
    text-shadow: none; */
   /* margin-bottom: 20px;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #B94A48;
    border-radius: 0;
    border: 0;
    color: #eaeaea;
    text-shadow: none;
}

.personal-url {
    width: 100%;
    margin-top: -20px;
    z-index: 999;
    /*background: #000/*d1edfb*/;
    background: #333;
    border-bottom: 1px solid #b6cdd9;
    padding: 10px 0;
}
.personal-url h5 {
    margin:0;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
    color:#ae8822;
    line-height:30px;
}
.personal-url div {
    margin-right:20px;
    color:#ccc; 
    font-size:14px;
    font-weight:400;
}
.fixed {
    position:fixed; 
}
.personal-url input {
    border-radius:0;
    background:#222;
    border-color:#333;
    font-family:'Open Sans', sans-serif, Arial;
    color:#ae8822;
    font-size:12px;
}
.personal-url input[type="text"]:focus {
    border-color: rgba(100, 100, 100, 0.8);
}
.personal-url button {
    background:#fac434; 
    color:#000;
    font-weight:700;
    text-shadow:none;
}
.pp {
    background:#b5e2f8;
        border-color: #b4d9ec;  
        }


.public .section {
    margin:0;
    border-radius:0;
    box-shadow:none;
    border:0;
    }
.public .sidebar {
    margin-left:0px;
    padding:0 9px;
    } 
.public .container-wrapper .container {
    background:#fafafa;
    border:1px solid #eaeaea
    }
.public .body-content {
    border-right:1px solid #eaeaea;
    background:#fff;
    }
.btn-share {
    color:#fff;
    font-size:11px;
    text-shadow:none;
    background: #44474c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDc0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #44474c 0%, #010101 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44474c), color-stop(100%, #010101)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #44474c 0%, #010101 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #44474c 0%, #010101 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #44474c 0%, #010101 100%); /* IE10+ */
    background: linear-gradient(to bottom, #44474c 0%, #010101 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44474c', endColorstr='#010101', GradientType=0 ); /* IE6-8 */
    }
.social strong {
    margin-bottom:10px;
    display:block;  
    }

.fb,.fb:hover {
    -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    background-color:#5B74A8;
    border:1px solid #29447E;
    font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    font-weight:700;
    padding:7px 5px;
    height:28px;
    color:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;  
    text-decoration:none;
    }
.lin,.lin:hover {
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:5px 10px;
    height:28px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:13px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #1A87B9;
    text-decoration:none;
    }
.ico-fb ,.ico-lin{
    display: inline-block;
    width: 15px;
    height: 19px;
    line-height: 18px;
    vertical-align: text-top;
    background-position: 0px 0px;
    background-repeat: no-repeat;}
                                                                                                                                                                                                          .ico-fb {
     background-image: url("/static/Profile/img/ico-fb.png");
     } 
                                                                                                                                                                                                 
.ico-lin {
     background-image: url("/static/Profile/img/ico-lin.png");
     }

.sidebar .social ul {
    margin:0;
    list-style-type:none;
}
.sidebar .social ul img {
    margin-right:10px;
}

.public .footer .container{
    background:none !important;
    border:none !important;
}
.friend {
    border-bottom:1px solid #eaeaea;
    padding:10px 0; 
    }
.friend .name {
   margin-left:10px;   
   }
.name span {
   font-size:14px; 
   margin-left: 5px;
   }
.zqr {
   line-height:50px;
   padding-right:10px;
   font-size:140%; 
   }
.z_facebook {
    display: block;
    width: 79px;
    height: 27px;
    margin-left: 10px;
    background: url(/static/Profile/img/tray_share_buttons.png) no-repeat 0 0;
}
.z_facebook:hover{background-position:0 -27px;}
.public .container-wrapper .share {
    background:none;
    border:0;
    margin-bottom:10px !important;
}
.zfb-like {
    margin-top:10px
}

.main {
    background:#fafafa !important; 
}
.main .body-content {
}
.main .section-job {
    bordeR:0;
    border-radius:0;
    box-shadow:none;    
    padding-bottom:0;
}
.main .section-header,
.main .section-content {
    margin-left:20px;   
    border:0;
}
.main .job-name h4 {
    margin:0;
}
.main .sidebar-jobs .job-name h4 {
    margin:10px 0;
}
.main .body-content .zq {
  margin: 0 5px 0 15px;
  background: #E9F2F9 url(/static/img/bg_score_transparent.png) no-repeat 12px 0;
  width: 50px;
  border-radius: 0;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #333;
  -webkit-box-shadow: 1px 1px 1px #9CC4E4;
  -moz-box-shadow: 1px 1px 1px #9CC4E4;
  box-shadow: 1px 1px 1px #9CC4E4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
}
.main .zq .job-score-small{
  margin: 0 5px 0 15px;
  background: #E9F2F9 url(/static/img/bg_score_transparent.png) no-repeat 8px 0;
  width: 40px;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom:5px;
  font-size: 14px;
  font-weight:700;
  text-align: center;
  color: #333;
  -webkit-box-shadow: 1px 1px 1px #9CC4E4;
  -moz-box-shadow: 1px 1px 1px #9CC4E4;
  box-shadow: 1px 1px 1px #9CC4E4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  }
.zq h6 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  color: #333;
  height: 35px;
}
h3.header {
  border-bottom: 3px solid /*#E6AC27;*/ #9CC4E4;
  font-weight: 500;
  width: 94%;
  margin-right: 40px;
  padding: 10px 0;
  margin-bottom: 30px;
}
.get-url {
  margin-right:5px;
  border: 1px solid #cad4e7;
  background: #eceef5;
  padding: 1px 5px;
  color: #3b5998;
  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
  line-height: 16px;
  font-size:11px;
}
.friends-list ul  li {
  padding:5px 0;
  border-bottom:1px dotted #eaeaea;
}
.friends-list .last {
  border:0;
}
.messaging {
    padding:20px 0;
    border:0 !important;
}
.messaging img {
    margin:15px 0;
    margin-right:-10px
}
.notifications{
    border:0 !important;
    background:none !important;
}
.alert {
    border-radius:2px;
}
/***AUTOCOMPLETE STYLING***/
li[class="ui-menu-item"]:first-child {
    margin-top:60px;

}
.ui-menu .ui-menu-item {
    width:400px;
    border-bottom:1px solid #eaeaea;
    font-size:13px;
}
.ui-menu .ui-menu-item a {
    
}
.ac-list {
    z-index:2;
    position:absolute;
    width:405px;
    background:#fff;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
    padding:5px 0;
}
.ac-list div {
    margin-left:10px;
    font-weight:700;
}
.ac-list a {
    margin-right:10px;
    font-weight:300 !important;
}
.ac-loader {
    margin-right:10px;
}
.course {
    margin-left:30px;
}
#not-in-prog-list {
    margin-left:169px;

}
.add-skills {
    display:inline-block !important;
}
.add-skills input {
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    border:0 !important;
}
.add-skills input:focus {
    border:0 !important
    outline:0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important
    -shadow:none !important;
}
.pillbox {
    margin:5px 0 0 5px;
    padding:0px 2px 0 8px;
    display:inline-block;
    font-size:11px;
    font-weight:700;
    background:#eaeaea;
    border;1px solid #dadada;
    border-radius:2px;
}
.pillbox span {
    display:inline-block;
    margin-right:8px;
}
.pillbox i {
    margin-top:-1px;
}
.contentLM46 {
    padding:5px 0;
    margin-left:0;
}
.contentLM46 .course {
    margin-left:10px;
}
#id_minor_form_collection .control-group {
    padding-top:5px;
    padding-bottom:5px;
}
.facebook-signup, 
.facebook-signup:hover
{ 
     padding: 5px 0 5px 50px;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
    background: #5d729f url(/static/img/bg_fb-signup.png) no-repeat 20px 0px;
    border: 1px solid #2c4465;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
}
.facebook-signup:hover {
    background: #5d729f url(/static/img/bg_fb-signup.png) no-repeat 20px 0px;
}