

/** For Slick grid  **/

body, html {
  margin: 0;
  #height: 100%;
  width: 100%;
  #overflow: hidden;
  font-size: 12px;
}
.badge, .label {
  font-weight: normal;
}

#grid, #pager {
 /*position: fixed; */
  width: 100%;
  
}
#grid {
  //bottom: 0;
  height: 500px;
}
#pager {
  bottom: 306px;
  height: 20px;
  margin-top: 25px;
}
.slick-row:hover {
  font-weight: bold;
  color: #069;
}
footer
{
visibility:hidden;
}

/* End slickgrid */

.clear {
    clear:both;
}

#footer {
	font-family:'Century Gothic', Tahoma, Geneva, Arial, 'DejaVu Sans', sans-serif;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	background-color:##3f2e5a;
	color:#aaaaaa;
	line-height:1.4;
	padding:14px 30px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	padding-bottom:10px;
	text-align:right;
}

