<!DOCTYPE HTML>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Zlemma Visualizations">
<meta name="title" content="Zlemma Visualizations"> 
<meta name="description" content="University Ranking Visualizations and Tag tree Visualizer">

{% block extra_meta %}

{% endblock %}

<link rel="shortcut icon" href="/static/img/favicon.ico" /> <!--favicon-->

<title>Zlemma: {% block extra_title %}{% endblock %}</title>

<link rel="stylesheet" href="/static/css/main.css" type="text/css" />

{% block extra_css %}

{% endblock %}

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>

{% block extra_js %}

{% endblock %}

</head>

<body>

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> 
        <div class="logo span3">
          <a href="/"><img src="/static/img/logo.png" alt="ZLemma" title="Home"></a>
        </div>
    </div>
  </div>
</div> <!-- CLOSING HEADER -->

<div class="container-wrapper">
  <div class="container">
    
    <div class="row body-content section">
    {% block center_content %}
    {% endblock %}
     
    </div>
    <div class="clear"></div>
  
  </div> <!-- CLOSING CONTAINER -->

</div> <!-- CLOSING WRAPPER -->



<div class="footer container-wrapper">
  <div class="container">
    <div class="row">
      <div class="span7">
        <span> Johnson Chetty </span>
      </div>
    </div><!-- CLOSING ROW CONTACT FOOTER -->	
    <div class="clear"></div>
    
  </div> <!-- CLOSING FOOTER CONTAINER  -->
  
</div> <!-- CLOSING FOOTER WRAPPER-->

</body>

</html>
