{% extends 'base.html' %}

{% block extra_title %}
Visual Tools
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}	

	<script type="text/javascript" src="/static/js/d3.v3.js"></script>
	<script type="text/javascript">

	</script>


{% endblock %}


{% block center_content %}   
<div class="center">
<h1>Univis</h1>

<ul>
<li><a href="/univis/"> University Ranking Visualizer</a> </li>
<li><a href="/tag-tree/"> DAG-Tag Visualizer</a> </li>
</ul>

</div>	
{% endblock %}

