{% extends 'base.html' %}

{% block extra_title %}
Tag Graph Visualizer
{% endblock %}

{% block extra_css %}
    <style type="text/css">
    


    .link {
	stroke: #ccc;
    }
    .nodetext {
#pointer-events: none;
	font: 12px Serif;
	font-style:italic;
    }

    .mainnode{
 	font: 12px sans-serif;
	fill: #ffffff;
	border-width: 1px;
	font-weight:bold;
	border-color: gray;
    }

    .node {
	border-width: 1px;
	border-color: gray;
	font: 12px sans-serif;
	fill: #ffffff; 
	font-weight:bold;
    }

    .relnode {
 	font: 12px sans-serif;
	font-weight:bold;
	fill:#000;
    }


#chart {
    height: 90%;
    padding-top:8px;
    margin: 0 auto;
    width: 95%;
    display: block;
}

svg {
    margin: 15px auto;
    display: block;

}

    .two-col {
	width:45%;
	padding:5px;    
    }

    .pane h3{
	display:inline;
	padding:2%;
    }

    .pane>div{
	margin: 10px;
    }

#pane1{
    float:left; 
    width=45%;
}

#pane2{
    float:right;  
    width=45%;  
}

#pane3{
    //margin:85% auto;
    padding:10px;
    width=90%;
    height:30px;
}


#cell2{
    margin-top:30px;
    height:15px;
}


    #cell5{	
     margin:0 auto;
     width:80%;
        margin:0 auto;
    }

    .panel {
	//float:left;
	width:90%;
	margin:0 auto;
	height:230px;
	padding:5px;    
	box-shadow: 10px 10px 5px #888888;
    }

    .cell{
	padding:5px 0;
    }

    .slider
    {
    margin-top:10px;
    margin-left:5px;
    width:85%;
    height:5px;
    }

    .tooltip {
	position:absolute;
	display:none;
	z-index:2000;
	background-color:black;
	color:white;
	border: 1px solid black;
    }

    </style>
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/jquery.ui.theme.css" />
    
    <link rel="stylesheet" href="/static/css/slider-style.css" /> 
{% endblock %}

{% block extra_js %}	
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.ui.slider.js"></script>	
{% endblock %}

{% block center_content %}   
	<div id="container">

	  <div id="main">	    
	    <div id="panel" class="panel"> 
	      <div id="pane1" class="pane two-col"> 
		<div id="cell1" class="cell">
		  <h3> Node Depth </h3>
		  <div class="tooltip"> Loads nodes in hierarchy by levels </div>
		  <div id="expandLevelSlider" class="graph_params slider"></div>
		</div>
    		<div id="cell2" class="cell"> 
		  <h3> Show unlinked nodes:
		    <input type="checkbox" class="graph_params" name="single_nodes" id="singleNodes" />
		</h3>
		<div class="tooltip"> Shows which nodes are not linked to any other node. </div> 
		</div>
	      </div>	      
	      
	      <div id="pane2" class="pane two-col"> 
		<div id="cell3" class="cell">
 		  <h3> Graph Charge </h3> <br/>
		  <div class="tooltip"> Increase when having more nodes </div>
		  <div id="chargeSlider" class="graph_params slider" ></div> 
		</div>
		<div id="cell4" class="cell">
 		  <h3> Minimum Link Distance </h3> <br/>
		  <div class="tooltip"> Increase when having more nodes </div>
		  <div id="linkDistanceSlider" class="graph_params slider" ></div>		
		</div>
	      </div>
              <div id="pane3" class="pane"> 
		<div id="cell5" class="cell">
 		  <h3> Zoom level </h3>
		  <div class="tooltip"> Centered zoom </div>
		  <div id="zoomSlider" class="graph_params slider" ></div>		
		</div>
              </div>
	    </div> <!-- CLOSE PANEL -->	    

	    <div id="chart"> </div>
	    	    
	    <div id='scripts'>
	      <script type="text/javascript" src="/static/js/underscore.js"></script>	
	      <script type="text/javascript" src="/static/d3/v1/d3.js"></script>	
	      <script type="text/javascript" src="/static/d3/v1/d3.layout.js"></script>	
	      <script type="text/javascript" src="/static/d3/v1/d3.geom.js"></script>	
	      <script type="text/javascript">
	      </script>
	    </div>  <!-- End linked scripts -->

    <!-- Main Graph -->
    <script type="text/javascript" >
      

//Globals
var nodes_by_id = {}, all_edges={};
var root_node='1';
var vis,force, node, link, visWidth=900,visHeight=500, zoomFactor=1;

// Data stores... 
var _nodes, _relations ;

function init_data(nodes, rels) {
    nodes_by_id = _.reduce(nodes, function (acc, n) {
        acc[n._id] = n;
        return acc;
    }, {});

    // Put to global data stores
    _nodes=nodes;
    _relations=rels;

    //Create edges list, and get the nodes in the from-to ids and add as source and target Objects.
    all_edges = _(rels).chain().map(function (e) {
        e.source = nodes_by_id[e.from];
        e.target = nodes_by_id[e.to];
        return e;
    }).value();

}


function load(root_node) {
    var width = visWidth;
    var p = 140 + "%";
    var height = visHeight;
    var q = 110 + "%";
    fill = d3.scale.category20();

    vis = d3.select("#chart")
        .append("svg:svg")
        .attr("id", "amazingViz")
        .attr("width", width)
        .attr("height", height)
	.call(d3.behavior.zoom().on("zoom", redraw))
	.append("svg:g").attr("class", "nodes");
  
    vis.append("svg:g").attr("class", "edges");

    function redraw() {		
	transformVis(d3.event.translate,d3.event.scale, false);
    }
    

    //center the position of the root node
    nodes_by_id[root_node].x = width / 2.0;
    nodes_by_id[root_node].y = height / 2.0;

    // set all except root nodes to be collapsed
    _.each(nodes_by_id, function (n) {
	n.added = (n._id != root_node)? false: true;
	n.expanded = false; 
	subgraph = get_subgraph_data(n._id, _nodes, _relations);
	// check for children, if yes, add em to the family
	n.children = (subgraph['node_metadata'].length)?subgraph['node_metadata']:null;
	n.links = (subgraph['relations'].length)?subgraph['relations']:null;

    });
    
    // show expanded level one by default
    expandLevel(1, root_node);   

    force = d3.layout.force()
        .on("tick",tick)
        .linkStrength(1)
        .charge(-3000)
        .friction(0.7)
        .gravity(0.3)
        .linkDistance(50)
        .nodes([])
        .links([])
        .size([width, height])
        .start();    
}

$('#resetVis').on("click", function(){ reset_params();});

$('#singleNodes').on("click", function(){  
    // toggle added for each linkless node
    _(nodes_by_id).each(function(n){
	if (!n.links) n.added = (!n.added)
    });
    update(all_edges); 	    

});

// mouseover tooltip
$(".graph_params").bind("mousemove", function(event) {
    $(this).find("div.tooltip").css({
        top: event.pageY + 5 + "px",
        left: event.pageX + 5 + "px"
    }).show();
}).bind("mouseout", function() {
    $("div.tooltip").hide();
});

// sliders
$("#chargeSlider" ).slider({ max:10000, min:0, value:3000, step:500 });

$("#chargeSlider").on("slidechange", function( event, ui ) { 
    var value = $("#chargeSlider").slider( "option", "value" );    
    force.charge(-value);    
    update(all_edges);
});

$("#linkDistanceSlider" ).slider({ max:150, min:10, value:50, step:5  });

$("#linkDistanceSlider").on("slidechange", function( event, ui ) { 
    var value = $("#linkDistanceSlider").slider( "option", "value" );    
    force.linkDistance(value);    
    update(all_edges);
});

$("#zoomSlider" ).slider({ max:4, min:0, value:1, step:0.05  });

$("#zoomSlider").on("slidechange", function( event, ui ) { 
    var zoom = $("#zoomSlider").slider( "option", "value" );    	    
    // do centered zoom
    transformVis([(visWidth - (visWidth * zoom))/2.0,(visHeight - (visHeight * zoom))/2.0], zoom,true);
});

$("#expandLevelSlider" ).slider({ max:5, min:0 , value:1, step:1 });

$("#expandLevelSlider").on("slidechange", function( event, ui ) { 
    var value = $("#expandLevelSlider").slider( "option", "value" );    
    collapseAllChildren(root_node);
    expandLevel(value,root_node);
    update(all_edges);
});


function transformVis(pan, zoom, sliderused) {    
    console.log(zoom*zoomFactor);
    if (!sliderused){
	$("#zoomSlider").slider( "option", "value", zoom );
    }    
    vis.attr("transform", "translate(" +  (pan[0] + ((visWidth - (visWidth * zoomFactor))/2)) + ',' + (pan[1] + ((visHeight - (visHeight * zoomFactor))/2)) + ")scale(" + zoom*zoomFactor + ")");     
}

function get_subgraph_data(node_id, nodes, relations) {
    var nodes_by_id = _.reduce(nodes, function (acc, n) {
        acc[n._id] = n;
        return acc;
    }, {});
    
    var links = _.filter(relations, function (rel){
	if (rel.from == node_id || rel.to == node_id ) return true;
    });
    
    var child_nodes = _(relations).chain().map(function (rel){
	if (rel.from == node_id) return nodes_by_id[rel.to] ; 
    }).filter( function(n) { return n ;}).value() ;
    
    var d = {'node_metadata':child_nodes, 'relations':links } ;
    return d;
}

function expandLevel(level, n) {    
    if (level==0) return;
    node = nodes_by_id[n]; 
    //either leaf or parent node, add.
    node.added=true;
    // if parent
    if (node.children){ 
	node.expanded=true; 
	_.each(node.children , function(n) { n.added=true;  expandLevel(level-1, n._id );} ); 
    }
}

    
function collapseAllChildren(n) {
    // set 'added' to false only for child nodes, not n at first call.     
    node = nodes_by_id[n];        
    if(node.children){
	node.expanded=false;
	_.each(node.children , function(n) { 
	    n.added=false; collapseAllChildren(n._id);} ); 
    }
    else{
	// remove only if leaf node.
	node.added=false;
    }
}

function expandChildren(n){    
    node = nodes_by_id[n];
    node.expanded=true;    
    _.each(node.children , function(n) { nodes_by_id[n._id].added=true; }); 
}



function update(edges) {
    // 1.0 Node setup
    // 1. reduce nodes, edges to only those which have their state as expanded or null
    // 1.1 reduce nodes... 
    //     1.1.1 check all nodes for expanded, if so add them. 
    //     1.1.2 check if any edge contains a from node which is expanded. then add that node. 
    // 1.2 reduce edges, 
    //     1.2.1 for all nodes in new_nodes, filter edges and retrieve all relations containing them both.
    // reduce the nodes list to have only those nodes whose edges are pointed are expanded..

    nodes = _.reduce(nodes_by_id, function(acc, n) {
	if (n.added){
	    acc.push(n);
	}
	return acc;
    }, []);

    
    edges = _.reduce(all_edges, function(acc, e) {
	// retrieve only edges coming from added nodes 	
        if (nodes_by_id[e.from].added && nodes_by_id[e.to].added) {           
	    acc.push(e);
	}
	
	return acc;
    }, []);	
    
    force.nodes(nodes);
    force.links(edges);
    force.start();
    
    // Update the Links
    link = d3.select("#chart g.edges").selectAll("line.link")
        .data(edges, function (e) {return e.from + "-" + e.to + "-" + e.type; });

    var x_offset = 5;
    var y_offset = 5;
    // Enter any new links.
    link.enter().append("svg:line")
        .attr("class", "link")
        .style("stroke-width",2) // function (d) { return d3.floor(d.alpha*5); })
        .attr("x1", function (d) { return d.source.x + x_offset; })
        .attr("y1", function (d) { return d.source.y + y_offset; })
        .attr("x2", function (d) { return d.target.x + x_offset; })
        .attr("y2", function (d) { return d.target.y + y_offset; })
        .attr("text", function (d) {return d.type;    })
        .attr("marker-end", "url(#arrowhead)");

    // Remove old ones
    link.exit().remove();


    // Remove the old nodes, a bit hackish!
    d3.select("#chart g.nodes").selectAll("a").remove();
    //instead of node.exit().remove();

    // Update the nodes
    node = d3.select("#chart g.nodes").selectAll("a.node")
	.data(nodes);
    
    node.enter().append("svg:a")
	.attr("w",function(d){
	    // add a w property to the data node for styling
	    d.w=d.title.toString().length;
	})
        .attr("class", function(d) {	    
            if (d._id==root_node) return "mainnode";
            else return "node";})        
        .on("click", click)
        .call(force.drag);          

    svgmarker = node.append("svg:marker")
        .attr("id", "arrowhead")
        .attr("viewBox","0 -5 10 10") // change to "0 0 10 10" for half arrow
        .attr("refX","30")     // 50 for the arrow to appear in the middle of the edge
        .attr("refY","5")
        .attr("markerUnits","strokeWidth")
        .attr("markerWidth","9")
        .attr("markerHeight","5")
        .attr("orient","auto")
        .append("svg:path")
        .attr("d","M 0 0 L 10 5 L 0 10 z")
        .attr("fill", "#6D6666")

 
    //new_nodes.filter(function(d) { return (d._id) == root_node ;})  
    node.append("svg:ellipse")
	.attr("cx", function(d){return (20 + Math.pow(d.w,0.33))})
	.attr("cy", function(d){ return 20 ;})
	.attr("rx",function(d) {var ttx=d.screen_name ; return (d.w*5+3)})
	.attr("ry",13)
	.style("fill-opacity", "0.8")
	.style("stroke", "#cccccc" )
	.style("stroke-width", "9.0px")
	.style("stroke-opacity", "0.3")
	.call(force.drag)
	.style("fill", function(d) { 
	    if (d.expanded==true && d.children) return "#5f4e7a"; 
	    if (d._id== root_node)  return "#33338b"; 
	    if (d.expanded==false && d.children ) return "#2f1e4a"; 
	    else return "#777777";});
   

    svgtext = node.append("svg:text")
        .attr("class",function(d) {
	    if (d._id==root_node) return "mainnode";
	    else return "node"; 
	})
        .attr("y", 20)
        .attr("x", 25)
        .attr("dy", ".35em")
        .attr("text-anchor","middle")
        .text(function(d) {
	    return d.title;
        });
  
      //  Toggle children on click.
		     
    function click(d) {
	n = nodes_by_id[d._id];
	if (n.expanded && n.children) {
	    // remove all child nodes of this node. even if they are also children of another. 
	    collapseAllChildren(n._id); 
	    // also call expandChildren on each already expanded node also.
	    _(nodes_by_id).chain()
		.filter(function(n){ return n.expanded; })
		.each( function(n) { expandChildren(n._id);})
	} 
	else if (!n.expanded && n.children) {
	    expandChildren(n._id);
	}
	update(all_edges);
    }

    // bind click to fetch to expand the nodes        
    function toggleExpand(d){ 
	//alert("clicked!! " );
	if (d.children) d.expanded=!d.expanded; 
	//console.log(d);
	update(all_edges);  
    }
}

// change color function
function color(d) {
    return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
}


function tick() {

    var x_offset = 20;
    var y_offset = 20;
    var from_offset =0, to_offset=0;
    
    // Enter any new links.
    link.attr("x1", function (d) { return d.source.x + 5; })
        .attr("y1", function (d) { return d.source.y + 5; })
        .attr("x2", function (d) { return d.target.x - 5; })
        .attr("y2", function (d) { return d.target.y - 5; })

    node.attr("transform", function(d) { return "translate(" + (d.x-16) + "," + (d.y-16) + ")"; });
}


function init_graph() {    
    var nodes, relations;
    $.ajax({
	async:true,
	url:'/tag-data/',
	datatype:'json',
	success:function (data) {
	    nodes=data.node_metadata;
	    relations=data.relations;	
	    // start er up!
	    init_data(nodes, relations);
	    load('1');
	    update(all_edges);
	},
	error:function(data) { alert('Ajax call failed!');}
    });						     			
 
}

// kickstart
init_graph();

</script>

	  </div>


	  </div> <!-- END MAIN -->
	</div>	<!-- END CONTAINER>

	


	{% endblock %}

