{% extends 'base.html' %}

{% block extra_title %}
University Ranking Visualizer
{% endblock %}

{% block extra_meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/d3/d3.parcoords.css">
    <link rel="stylesheet" type="text/css" href="/static/d3/style.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/univis.css">    
    {% endblock %}


{% block extra_js %}	

    <!-- SlickGrid -->
    <link rel="stylesheet" href="/static/slickgrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/static/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/static/slickgrid/css/slickgrid.css" type="text/css"/>
    <link rel="stylesheet" href="/static/slickgrid/controls/slick.pager.css" type="text/css"/>
    <script src="/static/slickgrid/lib/jquery-1.7.min.js"></script>
    <script src="/static/slickgrid/lib/jquery.event.drag-2.0.min.js"></script>
    <script src="/static/slickgrid/slick.core.js"></script>
    <script src="/static/slickgrid/slick.grid.js"></script>
    <script src="/static/slickgrid/slick.autotooltips.js"></script>
    <script src="/static/slickgrid/controls/slick.pager.js"></script>
    <script src="/static/slickgrid/slick.dataview.js"></script>
    <script src="/static/slickgrid/slick.formatters.js"></script>
    <!-- End SlickGrid -->

    <script>

</script>
    {% endblock %}


{% block center_content %}   

    <div id="body">        
    <script type="text/javascript" src="/static/d3/d3.v3.js"></script>
    <script src="/static/d3/d3.parcoords.js"></script>
    <script src="/static/d3/divgrid.js"></script>    

    <div id="main">
    <div id="container">

    <div id="parcoords" class="parcoords" style="height:250px; margin-top:32px;"></div>

    <div class="grid-header grid">
    <label>University Rankings</label>

    <div id="inlineFilterPanel" style="display:inline;color:black;float:right;">
    Search: <input type="text" id="txtSearch">
    </div>

    <span style="float:right" id="searchIcon" class="ui-icon ui-icon-search" title="Type in keywords with a space to filter the set"
></span>
    </div>

    <div id="grid"></div>
    <div id="pager"></div>

    
    <script id="brushing">
      data = {};
      name="univis"

      d3.json("/filter?name=" + name, function(json) {
      data = json;                 
      // slickgrid needs each data element to have an id
      data.forEach(function(d,i) { d.id = d.id || i; });
      //});

      
      var height =250
      // generating scale measures
      var dimensions = [
      {
      name: "dept_name",
      scale: d3.scale.ordinal().rangePoints([0, height]),
      type: "string"
      },
      {
      name: "emp_score",
      scale: d3.scale.linear().range([0,height]),
      type: "number"
      },
      {
      name: "cite_score",
      scale: d3.scale.linear().range([0,height]),
      type: "number"
      },
      {
      name: "acad_score",
      scale: d3.scale.linear().range([0,height]),
      type: "number"
      },
      {
      name: "grad_rank",
      scale: d3.scale.linear().range([height,0]),
      type: "number"
      },
      {
      name: "ug_rank",
      scale: d3.scale.linear().range([height,0]),
      type: "number"
      },
      ]

      var dimensions = ["dept_name","cite_score", "acad_score", "emp_score","grad_rank","ug_rank"]
      
      var types = {
      "dept_name": "string",
      "grad_rank": "number",
      "ug_rank": "number",
      "cite_score": "number",
      "acad_score": "number",
      "emp_score":"number",
      }

    
    var parcoords = d3.parcoords()("#parcoords")
	.data(data)
	.dimensions(dimensions)       
	.types(types)       
	.color("#5f4e7a")  // lighter than zlemma theme violet:3f2e5a  
	.alpha(0.06)
	.mode("queue") // progressive rendering
	.height(d3.min([document.body.clientHeight/3, 250]))
      
	.margin({
	    top: 20,
	    left: 70,
	    right: 0,
	    bottom: 10
	})        
	.render()
	.reorderable()
	.brushable();


    // Slick Grid
    // setting up data grid
    var column_keys = d3.keys(data[0]);

    //default columns gen
    var columns = column_keys.map(function(key,i) {
	return {
	    id: key,
	    name: key,
	    field: key,
	    sortable: true
	}
    }); 

    function formatter(row, cell, value, columnDef, dataContext) {
	return value;
    }

    // for dynamic resizing (later)
    var view_width= d3.max([document.body.clientWidth, 250])
    var columns = [
	{id: "name", name: "Name", field: "name", minWidth: 120, width:250, sortable: "true", searchable:"true" },
	{id: "dept_name", name: "Dept", field: "dept_name", width: 80, cssClass: "cell-title", formatter: formatter, sortable: "true"},
	{id: "grad_rank", name: "GradRank", field: "grad_rank", width: 50, sortable: "true"},
	{id: "ug_rank", name: "UGRank", field: "ug_rank", width: 50, sortable: "true"},
	{id: "cite_score", name: "CiteScore", field: "cite_score", width: 80, resizable: false, sortable: "true", formatter: Slick.Formatters.PercentCompleteBar},
	{id: "acad_score", name: "Acad Score", field: "acad_score", width: 80, resizable: false, sortable: "true", formatter: Slick.Formatters.PercentCompleteBar},
	{id: "emp_score", name: "Employer Score", field: "emp_score", width: 80, resizable: false, sortable: "true", formatter: Slick.Formatters.PercentCompleteBar},
	{id: "aliases", name: "Aliases", field: "aliases", sortable: "true", searchable:"true", minWidth: 120, width:250}
    ];
    
    var options = {
	enableCellNavigation: true,
	enableColumnReorder: false,
	multiColumnSort: false,
	forceFitColumns: false,
	topPanelHeight: 25
    };
    

    var dataView = new Slick.Data.DataView({ inlineFilters: true });
    var grid = new Slick.Grid("#grid", dataView, columns, options);
    //var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));

    // for search filter
    var searchString = "";

    function myFilter(item, args) {
      searchStrings = args.searchString.toLowerCase().split(" ")
      
      for ( x in searchStrings) {
      if ((args.searchStrings != "") && 
      item["dept_name"].toLowerCase().indexOf(searchStrings[x]) == -1 && 
      item["aliases"].toLowerCase().indexOf(searchStrings[x]) == -1 ) 
      {
      return false;
      }	      
      }
      return true;
    }
    
    /*
      function toggleFilterRow() {
	grid.setTopPanelVisibility(!grid.getOptions().showTopPanel);            
    }
    
    $("#searchIcon").on('click', function(){ toggleFilterRow()});
      */

    // move the filter panel defined in a hidden div into grid top panel
    $("#inlineFilterPanel")
	//.appendTo(grid.getTopPanel())
	//.show();  
        grid.onCellChange.subscribe(function (e, args) {
	dataView.updateItem(args.item.id, args.item);
    });

    // wire up the search textbox to apply the filter to the model
    $("#txtSearch").keyup(function (e) {	    
	// clear on Esc
	if (e.which == 27) {
	    this.value = "";
	}	    
	searchString = this.value;
	updateFilter();
    });


    function updateFilter() {
	dataView.setFilterArgs({
	    searchString: searchString
	});
	dataView.refresh();
    }


    $(".grid-header .ui-icon")
        .addClass("ui-state-default ui-corner-all")
        .mouseover(function (e) {
            $(e.target).addClass("ui-state-hover")
        })
        .mouseout(function (e) {
            $(e.target).removeClass("ui-state-hover")
        });


    // subscribe model events to drive the grid
    dataView.onRowCountChanged.subscribe(function (e, args) {
	grid.updateRowCount();
	grid.render();
    });

    dataView.onRowsChanged.subscribe(function (e, args)   {
	grid.invalidateRows(args.rows);
	grid.render();
    });

    // tooltip for long cols and numeric data

    grid.registerPlugin(new Slick.AutoTooltips());
      
      
    // column sorting
    var sortcol = column_keys[0];
    var sortdir = 1;
    
    function comparer(a, b) {
	var x = a[sortcol], y = b[sortcol];
	return (x == y ? 0 : (x > y ? 1 : -1));
    }
    
    // click header to sort grid column
    grid.onSort.subscribe(function (e, args) {
	sortdir = args.sortAsc ? 1 : -1;
	sortcol = args.sortCol.field;

	if ($.browser.msie && $.browser.version <= 8) {
	    dataView.fastSort(sortcol, args.sortAsc);
	} else {
	    dataView.sort(comparer, args.sortAsc);
	}
    });

    // highlight row in chart
    grid.onMouseEnter.subscribe(function(e,args) {
	var i = grid.getCellFromEvent(e).row;
	// d3 linking here					     
	var d = parcoords.brushed() || data;					       
	parcoords.highlight([d[i]]);
    });

    grid.onMouseLeave.subscribe(function(e,args) {
	parcoords.unhighlight();
    });

    // fill grid with data
    gridUpdate(data);

    // update grid on brush
    parcoords.on("brush", function(d) {
	gridUpdate(d);
    });

    function gridUpdate(data) {
	dataView.beginUpdate();
	dataView.setItems(data);
	dataView.setFilterArgs({searchString: searchString });
	dataView.setFilter(myFilter);
	dataView.endUpdate();
    };

});
</script>
    </div>  <!--CLOSE CONTAINER -->
    </div>  <!--CLOSE MAIN -->
    </div>	  <!--CLOSE BODY -->
    {% endblock %}

